body {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
}

#container {
    margin: 0 auto;
    display: inline-block;
    width: 850px;
    padding-top: 50px;
    text-align: left;
}

.config {
    margin: 20px auto;
}

.button {
    background-color: #3d94f6;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    padding: 4px 10px;
    text-decoration: none;
}

.button:hover {
    background-color: #1e62d0;
}

.button:active {
    position: relative;
    top: 1px;
}

.action {
    margin-top: 15px;
    float: right;
}

.size1 {
    width: 230px !important;
    padding: 8px 10px !important;
}

.size2 {
    width: 85px !important;
}

input, select {
    width: 100%;
    padding: 3px;
}

.span {
    padding: 3px;
}

#rowTemplate {
    display: none;
}

.dialog {
    display: none;
}

.ui-dialog-title {
    font-size: 0.9em;
}

.ok {
    background-color: green !important;
}

.error {
    background-color: red !important;
}

.done {
    background-color: rgb(255, 213, 0) !important;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

#about {
    clear: both;
    margin-top: 100px;
}